[submodule "third-party/DeepSpeech"]
	path = third-party/DeepSpeech
	url = git@github.com:mozilla/DeepSpeech.git
[submodule "third-party/aws-sdk-cpp"]
	path = third-party/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp
